# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
env/
venv/
.venv/
.env
.env.local
.env.production
.env.development

# API Keys and Secrets
*.key
*.pem
credentials.json
secrets/

# Editor directories
.idea/
.vscode/

# Logs and caches
*.log
cache/

# Misc
.DS_Store
